.box-shadow-auth {
    box-shadow: rgba(14, 30, 37, 0.8) 0px 2px 4px 0px, rgba(14, 30, 37, 1) 0px 2px 26px 0px;
}

.background-auth {
    background: #c0392b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8e44ad, #c0392b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8e44ad, #c0392b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}