<header class="p-3 flex items-center justify-between border-b xl:border-transparent border-gray-700">
    <div class="flex items-center gap-16">
        <img width="200" src="https://khoaiphim.com/public/static/logo.png" alt="">
        <app-search-box />
    </div>
    <div class="flex items-center select-none gap-3">
        <div
            class="hover:bg-red-600 border border-red-600 px-6 py-2 rounded-full duration-200 cursor-pointer hover:scale-90">
            <span>Đăng Nhập</span>
        </div>
        <div
            class="hover:bg-transparent bg-red-600 border border-red-600 px-6 py-2 rounded-full duration-200 cursor-pointer hover:scale-90">
            <span>Đăng ký</span>
        </div>
    </div>
</header>