.loading-animation {
    overflow: hidden;
    background: #1f2937;
}

.loading-animation::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    animation: loading 1.5s infinite;
    background: linear-gradient(to right, transparent, #11182763, transparent);
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}