<div class="relative">
    <div class="relative">
        <div class="absolute left-5 top-1/2 -translate-y-1/2">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input [(ngModel)]="searchTerm" (input)="onInput($event)" placeholder="Nhập từ khóa. Ví dụ: superman ..."
            type="text" spellcheck="false"
            class="px-12 pl-14 py-2 rounded-full outline-none bg-[#101010] min-w-[460px] caret-red-500 border border-transparent focus:border-red-600 duration-200">

        <div (click)="clearSearchResult()" class="circle-xmark absolute right-5 top-1/2 -translate-y-1/2">
            <i class="fa-solid fa-circle-xmark text-gray-300 hover:text-white duration-300 cursor-pointer"></i>
        </div>
    </div>

    <div *ngIf="searchResults.length !== 0 || searchTerm" id="search-box"
        class="absolute bg-[#101010] w-full z-20 mt-2 rounded-md p-3 overflow-y-auto">

        <div *ngIf="searchResults.length === 0" class="text-center py-3">
            <span class="text-gray-300">Không tìm thấy phim</span>
        </div>

        <div class="flex items-start gap-3 py-1 duration-150 cursor-pointer search-item"
            *ngFor="let movie of searchResults">
            <img width="60" class="rounded-sm" [src]="movie.imageUrl" alt="">
            <div>
                <h2 class="text-md mb-1.5">{{movie.title}}</h2>
                <p class="text-[#ffffffc2] text-xs ellipsis-search-text">
                    {{movie.extract}}
                </p>
            </div>
        </div>
    </div>
</div>