<div class="pb-12 relative">
    <div class="w-full absolute z-10 top-1/2 -translate-y-1/2 px-3 flex items-center justify-between">
        <div class="hover:opacity-50 hover:scale-95 duration-300 cursor-pointer">
            <i class="fa-solid fa-circle-chevron-left text-4xl"></i>
        </div>
        <div class="hover:opacity-50 hover:scale-95 duration-300 cursor-pointer">
            <i class="fa-solid fa-circle-chevron-right text-4xl"></i>
        </div>
    </div>
    <div class="absolute top-1/2 -translate-y-1/2 px-28">
        <div class="flex items-center gap-3 text-[#ffffff99] mb-1">
            <div class="flex items-center justify-center border border-[#ffc107] px-6 py-1 rounded-md">
                <span class="text-xs">Full HD</span>
            </div>
            <div>2023</div>
            <div class="category text-12">Phim Lẻ </div>
        </div>
        <h3 class="title">Người Kiến Và Chiến Binh Ong: Thế Giới Lượng Tử</h3>
        <p class="description">
            Một đoàn thủy thủ tham gia vào nhiệm vụ vận chuyển một đơn hàng bí ẩn từ Carpathia đến London trên con tàu
            Demeter huyền
            thoại. Hải trình tưởng chừng như đơn giản thế nhưng lại ẩn chứa một cơn ác mộng kinh hoàng khi đơn hàng họ
            vận
            chuyển
            đang dần thức tỉnh.
        </p>
    </div>
    <img class="w-full rounded-lg" src="https://khoaiphim.com/public/upload/slide/quy-quyet-cua-do-vo-dinh.webp" alt="">
</div>