.media {
    position: relative;
    display: flex;
    padding: 0;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #101010;
    overflow: hidden;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

/* .movie-item:hover {
    box-shadow: rgba(6, 181, 212, 0.501) 0px 0px 5px;
    scale: 1.05;
} */

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1010105e;
}

.movie-item:hover .mask,
.movie-item:hover .play-video {
    display: block;
    opacity: 1;
}

.movie-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.movie-title:hover {
    color: #f5c518;
}