<div class="mb-16">
    <div class="flex items-center justify-between pb-6">
        <h3 class="font-medium text-2xl">{{title}}</h3>
        <div class="select-none">
            <span class="text-[#9999a5] cursor-pointer hover:underline">Tất cả</span>
        </div>
    </div>
    <div class="grid grid-cols-6 gap-6">
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói Đứa Con Của Sói Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
        <div
            class="flex items-center justify-center rounded-sm cursor-pointer hover:scale-105 duration-200 relative movie-item">
            <div class="bg-[#b72929] absolute top-1.5 left-1.5 rounded-sm px-1.5 flex items-center justify-center">
                <span class="font-semibold text-xs cursor-pointer">HD</span>
            </div>
            <div class="mask duration-200"></div>
            <div class="absolute rounded-full opacity-0 duration-300 play-video">
                <div class="w-14 h-14 rounded-full bg-[#0000009a] flex items-center justify-center">
                    <i class="fa-solid fa-play text-2xl"></i>
                </div>
            </div>
            <img class="rounded-md" src="https://khoaiphim.com/public/upload/cover/daughter-of-the-wolf.jpg" alt="">
            <div class="absolute bottom-0 p-3 bg-gradient-to-t from-black w-full rounded-b-md">
                <h3 class="text-sm font-medium">Đứa Con Của Sói</h3>
                <p class="text-[#b5b5be] text-xs">Daughter of the Wolf </p>
            </div>
        </div>
    </div>
</div>