<div>
    <div routerLink="/"
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 text-red-600 border-r-4 border-red-600 pb-3 pt-1">
        <i class="fa-solid fa-house"></i>
        <span class="whitespace-nowrap">Trang chủ</span>
    </div>
    <div
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 border-r-4 border-gray-500 hover:border-red-600 py-3">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <span class="whitespace-nowrap">Xu hướng</span>
    </div>
    <div
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 border-r-4 border-gray-500 hover:border-red-600 py-3">
        <i class="fa-solid fa-film"></i>
        <span class="whitespace-nowrap">Phim lẻ</span>
    </div>
    <div
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 border-r-4 border-gray-500 hover:border-red-600 py-3">
        <i class="fa-solid fa-tv"></i>
        <span class="whitespace-nowrap">Phim bộ</span>
    </div>
    <div
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 border-r-4 border-gray-500 hover:border-red-600 pt-3 pb-1">
        <i class="fa-solid fa-star"></i>
        <span class="whitespace-nowrap">Diễn viên</span>
    </div>
</div>
<div class="mt-12">
    <div class="mb-6">
        <span class="text-xs font-mediumd">Khám phá</span>
    </div>
    <div
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 border-r-4 border-gray-500 hover:border-red-600 pb-3 pt-1">
        <i class="fa-solid fa-circle-half-stroke"></i>
        <span class="whitespace-nowrap">Thể loại</span>
    </div>
    <div
        class="w-full flex items-center gap-3 cursor-pointer duration-150 hover:text-red-600 active:scale-95 border-r-4 border-gray-500 hover:border-red-600 pt-3 pb-1">
        <i class="fa-solid fa-layer-group"></i>
        <span class="whitespace-nowrap">Bộ sưu tập</span>
    </div>
</div>