.zoom-in-out-box {
    animation: zoom-in-zoom-out 0.3s ease backwards;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0.5, 0.5);
    }

    100% {
        transform: scale(1, 1);
    }
}