<div class="bg-black min-w-screen min-h-screen text-white relative">
    <div class="container px-3 mx-auto">
        <!-- Header -->
        <app-header />
        <main class="p-3 flex mt-6">
            <!-- Navbar -->
            <div class="select-none w-1/6 max-w-[230px] font-medium h-full text-gray-400">
                <app-sidebar />
            </div>
            <div class="w-full">
                <router-outlet />
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div>